registry=https://pkgs.dev.azure.com/seradevelopment/0cb35b21-e342-4587-a470-60e6859014a9/_packaging/fms-feed/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/seradevelopment/0cb35b21-e342-4587-a470-60e6859014a9/_packaging/fms-feed/npm/registry/:username=seradevelopment 
//pkgs.dev.azure.com/seradevelopment/0cb35b21-e342-4587-a470-60e6859014a9/_packaging/fms-feed/npm/registry/:_password=b2licWp4anBoNGV5aWJjZmpoZDZmeGZ2Y3czZGNwM2N5c3F6dmxnYmpmb2JpZXRiejVqcQ== 
//pkgs.dev.azure.com/seradevelopment/0cb35b21-e342-4587-a470-60e6859014a9/_packaging/fms-feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/seradevelopment/0cb35b21-e342-4587-a470-60e6859014a9/_packaging/fms-feed/npm/:username=seradevelopment 
//pkgs.dev.azure.com/seradevelopment/0cb35b21-e342-4587-a470-60e6859014a9/_packaging/fms-feed/npm/:_password=b2licWp4anBoNGV5aWJjZmpoZDZmeGZ2Y3czZGNwM2N5c3F6dmxnYmpmb2JpZXRiejVqcQ== 
//pkgs.dev.azure.com/seradevelopment/0cb35b21-e342-4587-a470-60e6859014a9/_packaging/fms-feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token